@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Cabin' , sans-serif;
}

.list {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: 'Yellowtail' , sans-serif;
    color: #748DA6;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    background-color: #FFF;
    border-bottom: 1px solid #748DA6;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cabin' , sans-serif;
    color: #748DA6;
}

h2 {
    font-family: 'Yellowtail' , sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #748DA6;
    width: 100%;
    line-height: 50px;
}

a.tombol {
    background-color: #D3CEDF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

a.tombol:hover {
    background-color: #F2D7D9;
    text-decoration: none;
}

p a.tombol1 {
    background-color: #F2D7D9;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

a.tombol1:hover {
    background-color: #D3CEDF;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #748DA6;
  }
  
  .button1:hover {
    background-color: #748DA6;
    color: white;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
 .container .kotak {
    width: 350px;
    margin: 8px;
 }

.iya {
    width: 300px;
    height: 400px;
 }

 .tengah {
    text-align: center;
    width: 100%;
 }

 .tutor {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
 }

 .kartu {
    width: 20%;
    margin: 0 auto;

 }

 .kartu img {
    width: 150px;
    border-radius: 50%;
 }

 .kartu p {
    font-family: 'Yellowtail', sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #748DA6;
 }

 #me {
    background-color: #b9dcff;
    padding: 50px 0px 50px 0px;
 }

 .footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
 }

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'Yellowtail', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #748DA6;
    width: 100%;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width :991.98px){
    .list {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .tutor {
        width: 50%;
    }

    .kartu {
        width: 50%;
    }
}

 